*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calligraffitti', cursive;
    color: white;
}

body {
    font-size: 62.5%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    align-self: flex-start;
    width: 100%;
    font-size: 4rem;
    margin-top: 20px;
}
.final{
    z-index: 9;
    position: fixed;
    background-color: black;
    border: 3px solid white;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.final h3{
    width: 100%;
    text-align: center;
    font-size:2.5rem;
    margin-top: 30px;
}
.final h4{
    width: 100%;
    text-align: center;
    font-size:1.4rem;
    color:beige;
}
.final button{
    width: 100px;
    height: 50px;
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;

}
.final button:hover{
    background-color:rgb(56, 56, 56);
}
main{
    max-width: 900px;
    width: 100%;   
    margin: 0, auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    
}

.imagem{
    background-image: url(img/forca1.png);
    min-width: 180px;
    width: 30%;
    padding-bottom: 30%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}


.resultado{
    width: 70%;
    height: 100px;
    text-align: center;
    font-size:2.5rem;
}


.adivinha{
    width: 100%;
    height: 270px;
    margin-left: 30px;
    margin-right: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;    
    grid-gap: 10px;

}

.adivinha div{

border: 3px solid gray;
color: white;
background-color:black;
border-radius:20px;
width:100%;
height:100%;
display:flex;
align-items: center;
justify-content:center;
font-size:1.6rem;
cursor: pointer;
transition: all 0.3s;
}
.adivinha div:hover{
    background-color:gray;
    border-color:white;
    color:white;
}
#none{
   visibility:hidden;
}

@media(max-width:900px){
    .adivinha{
        width: 800px;
        height: 240px
        
    }
}
@media(max-width: 800px){
    .adivinha{
        width: 600px;
        height: 250px;
        grid-row-gap:30px;
        
    }
    .adivinha div{
        font-size:1.4rem;
    }
}
@media(max-width:610px){
    .adivinha{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height:350px;
        
    }
    #none{
        display:none;
    }

}
@media(max-width:500px) {
    .adivinha{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 90vh;
        
    }
    h1{
        font-size: 3rem;
        margin-top:10px
    }
    .resultado {
        font-size:10vw;

    }
    
}